# IDE files #
.vscode

# Project share stuff #
emotes/
Dependencies/
Dependencies.zip

# MySQL Workbench #
*.mwb
*.mwb.bak

# Datastores #
*.sqlite
*.sdb
*.sdb-wal
*.sdb-shm
*.json

# Python stuff #
__pycache__/
*$py.class
.Python
build/
old_py/

# Rust stuf - Happy rewrite! #
target/
debug/
**/*.rs.bk
*.pdb
Cargo.lock

# This is only for SQLx config. #
.env
