# IDE files #
*.komodoproject
.komodotools/
Dependencies/
Dependencies.zip

# MySQL Workbench #
*.mwb
*.mwb.bak

# Datastores #
*.sqlite
*.sdb
*.json

# Python stuff #
__pycache__/
*$py.class
.Python
build/
